.fun{
    background-color: #b5ecff;
  }
  
  .container {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
    
  }
  
  table {
    width: 100%;
    
   
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
  }
  
  th {
    background-color: #ffffff;
  }

  .funcB button{
    background-color: #31bdec; 
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid rgb(16, 163, 255);
  }
  
  .funcB button:hover {
    background-color: #2198b6;
  }

 .formm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
 
 
 }
 .field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; 
  width: 500px;
  gap: 15px;

}
